<html>
<body>
    <h3>Year Prediction MSD Data Set</h3>
    <div>
        <p>
            "Please enter values for each feature"
        </p>
        <form action="/predict" method="POST">
            <label for="1">feature 1</label>
            <input type="number" min="-9" max="16" step="0.01" id="1" name="1">
            <br>
            <label for="2">feature 2</label>
            <input type="number" min="-9" max="16" step="0.01" id="2" name="2">
            <br>
            <label for="3">feature 3</label>
            <input type="number" min="-9" max="16" step="0.01" id="3" name="3">
            <br>
            <label for="4">feature 4</label>
            <input type="number" min="-9" max="16" step="0.01" id="4" name="4">
            <br>
            <label for="5">feature 5</label>
            <input type="number" min="-9" max="16" step="0.01" id="5" name="5">
            <br>
            <label for="6">feature 6</label>
            <input type="number" min="-9" max="16" step="0.01" id="6" name="6">
            <br>
            <label for="7">feature 7</label>
            <input type="number" min="-9" max="16" step="0.01" id="7" name="7">
            <br>
            <label for="10">feature 10</label>
            <input type="number" min="-9" max="16" step="0.01" id="10" name="10">
            <br>
            <label for="12">feature 12</label>
            <input type="number" min="-9" max="16" step="0.01" id="12" name="12">
            <br>
            <label for="20">feature 20</label>
            <input type="number" min="-9" max="16" step="0.01" id="20" name="20">
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>